{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "number-leading-zero": null,
    "declaration-block-trailing-semicolon": "always"
  }
}